* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 18%;
}

.img-container img{
  width: 100%;
  height: auto;
  margin: 5%;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  /* transition: 0.5s; */
}
.hex:after {
  content: "";
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  border-radius: 3%;
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  /* background-color: rgb(159, 76, 76); */
  background: linear-gradient(
    22deg,
    rgba(214, 28, 78, 1) 48%,
    rgba(250, 194, 19, 1) 95%
  );
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  top: 35%;
  width: auto;
  height: 25%;
  margin: 0 auto;
  transition: 0.5s;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1,
.hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 300;
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.3s ease-out;
  transition: transform 0.2s ease-out, opacity 0.3s ease-out;
}

.hex p {
  bottom: 0%;
  height: 100%;
  font-size: 1.5em;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.hex h1 {
  top: 38%;
  height: 100%;
  padding-bottom: 20%;
  font-size: 1.1em;
  transition: 0.5s;
  -webkit-transform: translate3d(0, 24%, 0);
  -ms-transform: translate3d(0, 24%, 0);
  transform: translate3d(0, 24%, 0);
}

.hex i {
  top: 50%;
  padding-bottom: 50%;
  font-size: 3.2em;
  -webkit-transform: translate3d(-45%, -24%, 0);
  -ms-transform: translate3d(-45%, -24%, 0);
  transform: translate3d(-45%, -24%, 0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
  /* -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */
}

.hexLink:hover p {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}

.hex:hover img {
  transition: 0.5s;
  transform: scale(1.2);
}

.hex:hover h1 {
  transition: 0.5s;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.0);

}

.hex:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%;
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n + 6) {
    /* first hexagon of even rows */
    margin-left: 10%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n + 5) {
    /* first hexagon of even rows */
    margin-left: 12.5%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n + 4) {
    /* first hexagon of even rows */
    margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n + 3) {
    /* first hexagon of even rows */
    margin-left: 25%; /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}
